<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include necessary styles and meta tags -->

    <title>Country Index</title>
</head>
<body>
    <div class="mx-custom">
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Language</th>
                <th>Action 1</th>
                <th>Action 2</th>
                <th>Action 3</th>
            </tr>

            @foreach (var country in Model)
            {
                <tr>
                    <td>@country.countryId</td>
                    <td>@country.countryName</td>
                    <td>@country.language</td>
                    <td><a href="@Url.Action("Index", "City", new { ID_Country = country.countryId })"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>View City</a></td> 
                    <td><a asp-controller="City" asp-action="AddCity" asp-route-ID_Country="@country.countryId"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>Add City</a></td>
                    <td><a href="@Url.Action("ViewCountry", "Country", new { ID_Country = country.countryId })"><i class="fas fa-pen-to-square" style="margin-right: 3px;"></i>View</a></td>
                </tr>
            }
        </table>
    </div>

    <!-- Include necessary scripts, such as FontAwesome -->
    <script src="https://kit.fontawesome.com/5a5b6880b0.js" crossorigin="anonymous"></script>
</body>
</html>
